In [1]:
import os, pandas as pd
from dotenv import load_dotenv
from fredapi import Fred

load_dotenv()
FRED_KEY = os.getenv("FRED_API_KEY")
fred = Fred(api_key=FRED_KEY)

def fred_series(series_id, name=None):
    s = fred.get_series(series_id)  # pandas Series indexed by date
    df = s.to_frame("Value").reset_index().rename(columns={"index":"Date"})
    df["Series"] = name or series_id
    return df[["Series","Date","Value"]].sort_values("Date")

# demos:
fred_series("DGS10", "UST_10Y").tail()      # 10Y Treasury Yield
# fred_series("CPIAUCSL", "CPI_All_Items").tail()
# fred_series("UNRATE", "Unemployment").tail()

        Series       Date  Value
16643  UST_10Y 2025-10-17   4.02
16644  UST_10Y 2025-10-20   4.00
16645  UST_10Y 2025-10-21   3.98
16646  UST_10Y 2025-10-22   3.97
16647  UST_10Y 2025-10-23   4.01