In [4]:
# !pip install requests python-dotenv pandas

import os, requests, pandas as pd
from dotenv import load_dotenv

load_dotenv()
NEWS_KEY = os.getenv("NEWSAPI_KEY")
assert NEWS_KEY, "Missing NEWSAPI_KEY in .env"

BASE_URL = "https://newsapi.org/v2"

In [5]:
params = {
    "country": "us",         # or specific source instead
    "pageSize": 10,
    "apiKey": NEWS_KEY
}

r = requests.get(f"{BASE_URL}/top-headlines", params=params)
data = r.json()
print(f"Status: {data['status']}, Articles: {len(data['articles'])}")

df = pd.DataFrame(data["articles"])[["source", "author", "title", "url", "publishedAt"]]
display(df.head())

Status: ok, Articles: 8

,source,author,title,url,publishedAt
0,"{'id': None, 'name': 'CBS Sports'}",Jordan Dajani,Bears vs. Ravens live updates: NFL Week 8 scor...,https://www.cbssports.com/nfl/news/bears-vs-ra...,2025-10-26T18:44:38Z
1,"{'id': None, 'name': 'NBCSports.com'}",Michael David Smith,Cam Skattebo carted off with serious injury - ...,https://www.nbcsports.com/nfl/profootballtalk/...,2025-10-26T18:06:43Z
2,"{'id': None, 'name': 'Financial Times'}","Hannah Kuchler, Oliver Barnes",Novartis to buy Avidity Biosciences for $12bn ...,https://www.ft.com/content/6029e1f1-f27b-4e29-...,2025-10-26T16:37:36Z
3,"{'id': None, 'name': 'Variety'}",Rebecca Rubin,Box Office: ‘Chainsaw Man’ Is Latest Anime Win...,https://variety.com/2025/film/box-office/box-o...,2025-10-26T16:06:00Z
4,"{'id': 'the-wall-street-journal', 'name': 'The...",The Wall Street Journal,How Russia’s Sanctioned Arctic Gas Found a Chi...,https://www.wsj.com/world/russia/russia-arctic...,2025-10-26T16:00:00Z

In [6]:
params = {
    "q": "earnings OR inflation OR stocks",
    "language": "en",
    "sortBy": "publishedAt",
    "pageSize": 10,
    "apiKey": NEWS_KEY
}

r = requests.get(f"{BASE_URL}/everything", params=params)
search = r.json()
df_search = pd.DataFrame(search["articles"])[["source", "title", "url", "publishedAt"]]
display(df_search.head())

,source,title,url,publishedAt
0,"{'id': 'the-times-of-india', 'name': 'The Time...",US Fed will likely cut again despite economic ...,https://economictimes.indiatimes.com/news/inte...,2025-10-26T17:12:18Z
1,"{'id': None, 'name': 'Biztoc.com'}",Coca-Cola Stock Jumps Following Earnings Beat....,https://biztoc.com/x/1e09294146142c9b,2025-10-26T17:10:51Z
2,"{'id': None, 'name': 'Biztoc.com'}","Earnings, Trade War and Other Can't Miss Items...",https://biztoc.com/x/4a8bf816226da3c4,2025-10-26T17:10:41Z
3,"{'id': 'abc-news', 'name': 'ABC News'}",WATCH: Snow leopard cub treated to first pumpk...,https://abcnews.go.com/US/video/snow-leopard-c...,2025-10-26T17:06:19Z
4,"{'id': 'bbc-news', 'name': 'BBC News'}",Government will not 'be held to ransom' by doc...,https://www.bbc.co.uk/news/articles/cqjwqll257do,2025-10-26T17:05:41Z

In [7]:
params = {
    "domains": "bloomberg.com, reuters.com",
    "q": "AI OR economy",
    "language": "en",
    "pageSize": 10,
    "apiKey": NEWS_KEY
}

r = requests.get(f"{BASE_URL}/everything", params=params)
df_domain = pd.DataFrame(r.json()["articles"])[["source", "title", "url"]]
display(df_domain.head())

,source,title,url
0,"{'id': 'bloomberg', 'name': 'Bloomberg'}",India RBI rate cut back in play after tariffs:...,https://www.bloomberg.com/news/articles/2025-0...
1,"{'id': 'bloomberg', 'name': 'Bloomberg'}",SoftBank-owned Graphcore to invest $1.3 billio...,https://www.bloomberg.com/news/articles/2025-1...
2,"{'id': 'bloomberg', 'name': 'Bloomberg'}","Gold hits high on US shutdown fears, bonds ste...",https://www.bloomberg.com/news/articles/2025-0...
3,"{'id': 'bloomberg', 'name': 'Bloomberg'}",Global chipmakers add $200 billion in record r...,https://www.bloomberg.com/news/articles/2025-1...
4,"{'id': 'bloomberg', 'name': 'Bloomberg'}",India poised for biggest-ever IPO month with $...,https://www.bloomberg.com/news/articles/2025-1...

In [8]:
r = requests.get(f"{BASE_URL}/sources", params={"language": "en", "apiKey": NEWS_KEY})
sources = pd.DataFrame(r.json()["sources"])[["id", "name", "category", "country"]]
display(sources.head(10))

,id,name,category,country
0,abc-news,ABC News,general,us
1,abc-news-au,ABC News (AU),general,au
2,al-jazeera-english,Al Jazeera English,general,us
3,ars-technica,Ars Technica,technology,us
4,associated-press,Associated Press,general,us
5,australian-financial-review,Australian Financial Review,business,au
6,axios,Axios,general,us
7,bbc-news,BBC News,general,gb
8,bbc-sport,BBC Sport,sports,gb
9,bleacher-report,Bleacher Report,sports,us