In [3]:
import os, pandas as pd
from datetime import date, timedelta
from dotenv import load_dotenv
from polygon import RESTClient

load_dotenv()
POLYGON_API_KEY = os.getenv("POLYGON_API_KEY")
client = RESTClient(POLYGON_API_KEY)

def polygon_daily(ticker, start="2024-01-01", end=None):
    end = end or str(date.today())
    bars = client.list_aggs(ticker=ticker, multiplier=1, timespan="day",
                            from_=start, to=end, adjusted=True, sort="asc", limit=5000)
    rows = [{"Ticker":ticker,
             "Date": pd.to_datetime(b.timestamp, unit="ms").date(),
             "Open": b.open, "High": b.high, "Low": b.low,
             "Close": b.close, "Adj Close": b.close, "Volume": b.volume} for b in bars]
    return pd.DataFrame(rows)

def polygon_minutes(ticker, day="2025-10-24"):
    bars = client.list_aggs(ticker=ticker, multiplier=1, timespan="minute",
                            from_=day, to=day, adjusted=True, sort="asc", limit=50000)
    rows = [{"Ticker":ticker,
             "Datetime": pd.to_datetime(b.timestamp, unit="ms", utc=True),
             "Open": b.open, "High": b.high, "Low": b.low,
             "Close": b.close, "Volume": b.volume} for b in bars]
    return pd.DataFrame(rows)

# demo
polygon_daily("AAPL", "2025-01-01").head()
# polygon_minutes("AAPL", "2025-10-24").head()

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,2025-01-02,248.93,249.1000,241.8201,243.85,243.85,55740731.0
1,AAPL,2025-01-03,243.36,244.1800,241.8900,243.36,243.36,40244114.0
2,AAPL,2025-01-06,244.31,247.3300,243.2000,245.00,245.00,45045571.0
3,AAPL,2025-01-07,242.98,245.5500,241.3500,242.21,242.21,40855960.0
4,AAPL,2025-01-08,241.92,243.7123,240.0500,242.70,242.70,37628940.0